* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .calculator {
  max-width: 375px;
  width: 100%;
  background: #000807;
  border-radius: 20px;
  padding: 175px 30px 30px 30px;
  position: relative;
}

.container .calculator::after {
  content: "";
  width: 100%;
  height: 8px;
  background: linear-gradient(180deg, #00b0a4 0%, rgba(38, 71, 82, 0) 56.94%);
  position: absolute;
  top: 327px;
  left: 0;
}

.container .calculator h1,
h2 {
  text-align: right;
}

.container .calculator .value {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  height: 40px;
}

.container .calculator .result {
  font-weight: 700;
  font-size: 96px;
  color: #00b0a4;
}

.container .calculator .buttons_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  padding-top: 30px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . equal equal";
}

.equal {
  grid-area: equal;
}

.container .calculator .buttons_wrapper button {
  padding: 20px;
  border: 1px solid #00b0a4 ;
  color: #ffffff;
  background: transparent;
  transition: all 0.5s linear;
  font-size: 24px;
  font-weight: 700;
}

.container .calculator .buttons_wrapper button:hover {
  background: linear-gradient(180deg, #00b0a454 0%, #416e7c60 56.94%);
}
